Is protected header/base45 compression required?

1. Is protected header required?
Validation app require a protected header, but in examples in the link 
`https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/BasicDgcTestsList.md `
` CO19 	COSE/CWT 	KID in protected header not present, KID in unprotected header correct`
 there is no protected header, and all data is stored in an unprotected header.
2. Is base45 compression required?
There is an example in
`https://dgc.a-sit.at/ehn/testsuite`
`Vaccination statement: No-op Compressor (expect: GOOD)` 
where there is no base45 compression, validation app do not check if there was a base45 compression, and a library `Gunzip` throw an error when `gunzipped()` is called. Error text: `incorrect header check.`

for both answers, please refer to the spec. https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md

1, both are possible:
relevant part of the spec:
3.3.3 Key Identifier
The Key Identifier (kid) claim is used by Verifiers for selecting the correct public key from a list of keys pertaining to the Issuer (iss) Claim. Several keys may be used in parallel by an Issuer for administrative reasons and when performing key rollovers. The Key Identifier is not a security-critical field. For this reason, it MAY also be placed in an unprotected header if required. Verifiers MUST accept both options.

2, yes compression is req. @nodh I think we still need to fix this in the demo service.
relevant part of the spec (marked with SHALL)
To lower size and to improve speed and reliability in the reading process of the HCERT, the CWT SHALL be compressed using ZLIB (RFC 1950) and the Deflate compression mechanism in the format defined in (RFC 1951).

@asitdm can you check the protected header part (unprotected header must work as well)


AFAIK only the `kid` is considered a non-critical field and can be placed in the unprotected header. The `alg` claim however must be placed in the protected header ("or as part of the externally supplied data") according to [RFC8152 Section 3.1](https://datatracker.ietf.org/doc/html/rfc8152#section-3.1). Since the `alg` claim is a required field in the hcert spec, the protected header should include at least this claim (the `kid` can still be placed in the unprotected header, then both header structures have to be considered). So imho the test CO19 has to be updated.